body {
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 text-align: center;
}

h2,
h3 {
 font-family: "Montserrat";
}

/* Containers */
.container-fluid {
 padding: 7% 15%;
}

/* Sections */
.colored-section {
 background-color: #ff4c68;
 color: white;
}
.white-section {
 background-color: white;
}

/* Headings */
.big-heading {
 font-family: "Montserrat", sans-serif;
 font-weight: 900;
 font-size: 3.5rem;
 line-height: 1.5;
}

.section-heading {
 font-size: 3rem;
 font-weight: bold;
 line-height: 1.5;
}

.name-heading {
 font-weight: bold;
 font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
 padding: 0 0 4.5rem;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
}

.nav-item {
 padding: 0 18px;
}

.nav-link {
 font-size: 1.2rem;
 font-family: "Montserrat";
 font-weight: 300;
}

/* Download Buttons */
.download-button {
 margin: 5% 3% 5% 0%;
}

/* Title Section */
#title .container-fluid {
 padding: 3% 15% 7%;
 text-align: left;
}

/* Title Image */
.image-section {
 position: relative;
}

.title-image {
 width: 60%;
 transform: rotate(25deg);
 position: absolute;
 right: 30%;
}

/* Features Section*/
#features {
 background-color: white;
 position: relative;
}

.feature-title {
 font-weight: bold;
 font-size: 1.5rem;
}

.icon-mid {
 color: #ef8172;
 padding-bottom: 20px;
}
.icon-mid:hover {
 color: #ff4c68;
}
.paragraph {
 color: #8f8f8f;
 padding: 0 10% 2%;
}

/* Testimonial Section */
#testimonials {
 font-family: "Montserrat";
 font-weight: bold;
 color: white;
 background-color: #ef8172;
}

#press {
 background-color: #ef8172;
 padding-bottom: 3%;
}

.testimonial-text {
 font-size: 3rem;
 font-weight: bold;
 line-height: 1.5;
}

.testimonials-image {
 border-radius: 100%;
 width: 10%;
 margin: 20px;
}

.press-logo {
 width: 15%;
 padding: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
 padding: 100px;
}

.price-text {
 font-size: 3rem;
 font-weight: bold;
 line-height: 1.5;
}

.pricing-column {
 padding: 3% 2%;
}

.invisible {
 display: hidden;
}

/* Footer Section */
.bottom-icon {
 margin: 20px 10px;
}

/* Media Queries */
@media (max-width: 1050px) {
 #title {
  text-align: center;
 }

 .title-image {
  position: static;
  transform: rotate(0);
 }
}
@media (max-width: 950px) and (min-width: 767px) {
 .big-heading {
  font-size: 45px;
 }
}
@media (max-width: 767px) {
 #pricing {
  padding: 40px;
 }

 #title .container-fluid {
  text-align: center;
 }

 .big-heading {
  font-size: 45px;
 }

 .section-heading {
  font-size: 30px;
  font-weight: 900;
 }

 .testimonial-text {
  font-size: 30px;
  font-weight: 500;
 }

 .bottom-text {
  font-weight: 500;
 }

 .title-image {
  width: 75%;
 }

 .testimonials-image {
  height: 100px;
  width: 100px;
 }

 .press-logo {
  height: 20%;
  width: 35%;
 }
}
